header {
  padding: 1rem;
  text-align: center;
  background: #27ae60;
  border-bottom: #aaa 2px solid;
}

#logo {
  font-family: 'Moul', cursive;
  font-size: 1.7rem;
  color: #FFFFFF;
  text-shadow: 2px 2px #aaa;
  letter-spacing: 2px;
}

#showcase {
  background: #222;
  color: #FFFFFF;
  height: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

#showcase h3{
  font-size: 28px;
  margin-bottom: 1.5rem;
}
#showcase p{
  line-height: 1.7rem;
  color: #888;
}
.integral{
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 70px;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50% { opacity: 0; }
}

/* .cursor{
  width: 10px;
  background: #FFFFFF;
  animation: blink 1s linear infinite;
  margin-left: 5px;
  display: inline-block;
}
@keyframes blink {
  50% { opacity: 0; }
} */

@media only screen and (min-width: 600px) {
  #logo {
    width: 100%;
    text-align: center;
  }
}

footer {
  background: #27ae60;
}
.footer{
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
}
